.upcomingevent{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.event-image-img{
    height: 100%;
    width:100%;
}
.event-img{
    height: 300px;
    box-shadow:5px 11px 24px 5px #c7c5c7;
    border-radius: 5px;
    position: relative;
}
.event-img span{
    position: absolute;
    top: 28px;
    left: 20px;
    background: #cbb58b;
    border-radius: 2px;
    padding: 8px 12px;
    color: #fff;
    font-size: 13px;
}
.event-img-text{
    position: absolute;
    bottom: 0px;
    width:100%;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,black 100%);
    padding: 85px 0 20px;
    border-radius: 5px;
}
.event-date-color{
    background-color: #645D7A;
    padding: 2px;

}
.event-border-dash{

    border:1px #8d84a0;
    border-style: dashed;
    margin: 8px;
   
   
}
.event-date1{
    color:white;
    font-weight:700;
    font-size: 23px;
}
.event-date2{
    color:white;
    font-weight:700;
    font-size: 14px;
}
.date-text h3{
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
    color:black !important;
}
.date-text p{
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color:#292b2c !important;
    
    
}

.border-title{
    height:2px;
    width:25px;
    background-color: #cbb58b;

}
.border-title-img{
    height:2px;
    width:25px;
    background-color: white;
}
.border-class{
    height:1px;
    background-color: rgba(107, 106, 106, 0.226);
    width:70%;

}

@media (max-width: 576px){
    .event-text p{
        font-size: 15px;
        margin-top: 2px;
    }
}

.upcoming-even-wrapper{
    padding: 0 40px;
}

@media (max-width: 768px){
    .upcoming-even-wrapper{
        padding: 0 0px;
    }
}