.administration{
    background-color: #CECDCD;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.name{
    font-size: 18px;
}
.gra-icon{
font-size: 20px;
margin-left: 5px;
margin-right: 5px;
}
.details{
position: relative;
top:-10px
}
.ad-img::before{
border: 1px solid grey;
}
.ad{
    margin-bottom: 0 !important;
    text-transform: uppercase;
}
.bg--cart-7 {
    background: #2D2D2D !important;
}
.footer-text{
    color:#CECDCD !important;
}