
.parllax {
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),url('../../../assets/images/banner/parallax.jpg');
    background-color: rgb(26 24 24) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 5px;
}
.parallax-icon{
    font-size: 50px;
    color: white;

}
.parallax-number{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.parallax-text{
    position: relative;
    top: -7px;
    color: white;
    font-size: 20px;
    font-weight: 200;
}

@media (max-width: 992px){
.parallax-single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parallax-text-main{
    text-align: center;
    margin-top: 10px;
}
.parallax-text{
   
    font-size: 18px;
    
}
}