

.news{
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
 .portfolio-text {
    position: relative;
    margin: -40px 25px 30px 25px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    
}
.img-fluid{
    height: 200px !important;
}
.news-img{
    border-radius: 5px;
}
.news-title{
    transition: 300ms ease-in-out;
}
.news-title:hover
{
    color: #5487D3;
    

}
.icon-link{
    color: #494949;
}
.news-icon{
    
    color: #6592D7;
    font-size: 15px;
}
.news-details{
    position: relative;
    top: -5px;
}
.news-event-text{
    
    font-size: 16px;
    color: #616161;
}

.news-btn{
 border-bottom: 2px solid black;
position: absolute;
bottom: 0;
font-weight: bold;

  }
  .news-btntext {
    top: 5px;
    position: relative;
    cursor: pointer;
}
.news-slider-heading{
    display: flex;
    justify-content: space-between;
}
.arrow-btn{
    display: flex;
    align-items: center;
}
.arrow-btn span{
    color: #242020;
    cursor: pointer;
   
    background: none;
    border: 1px solid rgba(147, 140, 140, 0.725);
    padding: 4px 10px;
    margin-right: 10px;
}

.news-title-border{
    background-color: #f4bc54;
    height: 3px;
    width: 100px;
}
.news-slider-row {
    padding: 0 40px;
}
@media (max-width: 768px){
    .arrow-btn {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
    }
    .news-slider-row {
        padding: 0 10px;
    }
}

