@import "../../../assets/scss/variables";

.heroSlider {
    .htSwiperButtonNav {
        font-size: 40px;

        width: 50px;
        height: 50px;
        padding: 0;

        color: #FFF;
        border: none;
        background: none;

        &:after {
            font-size: 0;
        }
    }

    .swiperButtonPrev {
        left: 50px;
    }

    .swiperButtonNext {
        right: 50px;
    }
}

.sliderOne {
    
    .slide {
        padding-top: 100px;
    }
}

.slide {
    .content {
        h1 {
            line-height: 65px;
            font-size: 40px;
            margin-bottom: 25px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           color: white;
        }
        p {
            font-size: 16px;
            line-height: 26px;

            margin-bottom: 40px;

            color: #EEF3F6;
        }
    }
    .slideFrontImg {
        text-align: left;
    }
}

// Responsive Css

@media #{$xlg-layout} {
    .sliderOne .sliderFixedHeight {
        height: 700px;
    }
}

@media #{$lg-layout} {
    .slide .slideFrontImg img {
        width: 100%;
    }
    .sliderOne .sliderFixedHeight {
        height: 700px;
    }
}

@media #{$md-layout} {
    .heroSlider {
        .htSwiperButtonNav {
            display: none;
        }
    }
    .slide .content h1 {
        line-height: 49px;
       
    }
    .slide .slideFrontImg img {
        width: 100%;
    }

    .sliderOne .sliderFixedHeight {
        height: 700px;
    }
}

@media #{$sm-layout} {
    .heroSlider {
        .htSwiperButtonNav {
            display: none;
        }
    }
    .slide .content h1 {
        line-height: 41px;

        margin-bottom: 17px;
    }
    .slide .slideFrontImg img {
        width: 100%;
    }
    .sliderOne .sliderFixedHeight {
        height: auto;
    }
    
    .slide .slideFrontImg {
        margin-top: 26px;

        text-align: center;
    }
}

@keyframes Gradient {
    0% {
        background-position: 30% 50%;
    }
    50% {
        background-position: 25% 50%;
    }
    100% {
        background-position: 30% 50%;
    }
}
